/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
  
html {
  background-color: #111111;
}

.alldivs-container2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
}

h2{
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  position:relative;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  width: 142px;
}

.alldivs-container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 1fr 500px 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  }

.alldivs{
  background-color: #202020;
  border-radius: 20px;
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.right-side{
  position:relative;
  grid-column: 2;
  width:100%;
}

.t1{
  width: 437px;
  height: 207px;
  position: absolute;
  top: 75px;
  left: 75px;
}

h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  color: #FFF;
  margin:0;
}

h1 span{
  color: #0BBC6C;
}

.button{
  background: #0BBC6C;
  border-radius: 20px;
  width: 200px;
  height: 48px;
  position: absolute;
  top: 340px;
  left: 75px;
}

.wholecube{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  grid-column: 1;
  position: relative;
}

.wholecube > .corner{
  background-color: #0BBC6C;
  position: absolute;
  height: 20px;
  width: 20px;
}

.side{
  background-color: #333333;
  position: absolute;
}

.wholecube > .c1{
  top: 40px;
  left: 40px;
  position: absolute;
}

.c2{
  top: 40px;
  right: 40px;
  position: absolute;

}

.c3{
  bottom: 40px;
  right: 40px;
  position: absolute;

}

.c4{
  bottom: 40px;
  left: 40px;
  position: absolute;

}

.s1{
  height: 20px;
  width: 80px;
  top: 40px;
  left: 60px;
  position: absolute;

}

.s2{
  height: 80px;
  width: 20px;
  top: 60px;
  right: 40px;
  position: absolute;

}

.s3{
  height: 20px;
  width: 80px;
  bottom: 40px;
  left: 60px;
  position: absolute;

}

.s4{
  height: 80px;
  width: 20px;
  top: 60px;
  left: 40px;
  position: absolute;

}

@media screen and (max-width: 1000px){
  .alldivs-container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 500px 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    }
  
  .alldivs{
      background-color:inherit;
      border-radius: 20px;
      grid-column: 2;
      grid-row: 2;
      justify-items: center;
      justify-content: center;
      padding: 20px;
      display:grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
    }

  h1{
    font-size: 28px;
  }

  .t1{
    width: 200px;
    height: 207px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 170px;
  }
  .right-side{
    position:relative;
    grid-column: 1;
    width:100%;
  }

  .wholecube{
    zoom:0.50;
  }

  .button{
    background: #0BBC6C;
    border-radius: 20px;
    width: 200px;
    height: 48px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 250px;
    left: 50%;
  }
}