:root {
  --main-color: #0BBC6C;
  --alternative-color: #38f9d7;
  --black: #333333;
  --light-gray: #f8f8f8;
  --white: #ffffff;
}

html {
  background-color: var(--white);
  color: var(--black);
}

p{
  font-family: Inter;
  font-weight: 400;
  line-height: 2;
  font-size: 18px;
  padding: 10px;
  margin: 0px;
}

a{
  color: var(--black);
  text-decoration: none;
}

a:hover{
  color: var(--main-color);
}

h5 {
  font-size: 72px;
  background: -webkit-linear-gradient(left,#6a11cb,#2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 300px;
  font-family: Inter;
}

h2{
  font-weight: 900px;
  color:var(--black);
  margin: 0;
  font-family: Inter;
  padding: 10px;
  font-size: 24px;
}

h2 > span{
  color:var(--main-color);
}

h4{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color:var(--main-color);
  padding: 10px;
  margin: 0px;
}

#category-cards-container{
  grid-column: 2;
  position: relative;
  height: 360px;
  width: 100%;
}

.category-card{
  display: inline-block;
  height: 280px;
  width: 360px;
  position:absolute;
  background-color: var(--white);
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 47px 133px 40px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.05);
}

#category-card-1{
  left: 0px;

}

#category-card-2{
  left: 480px;
}

#category-card-3{
  left: 960px;
}


#categories{
  display:grid;
  grid-template-columns: 1fr 1400px 1fr;
  position: relative;
  height: 600px;
  align-items: center;
}

#hero-bg-container{
  background-image:url(/img/hero_bg.png);
  width: 100%;
  height: 2000px;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: -1;
  top: 200px;
}

.footer{
  height: 800px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 1fr;
}

#footer-img-container{
  background-image:url(/img/footer_bg.png);
  height: 800px;
  width: 100%;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index:0;
}

#footer-form-container{
  grid-column: 2;
  background-color: var(--light-gray);
  position: absolute;
  height: 156px;
  width: 680px;
  z-index:1;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 108px 48px;
  grid-template-columns: 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

#footer-form-item{
  display: inline-block;
  background-color: var(--white);
  border-radius: 20px;
  height: 48px;
  width: 500px;
  grid-row: 2;
}

#footer-form-button{
  display: inline-block;
  background-color: var(--main-color);
  width: 160px;
  justify-self: end;
  grid-row: 2;
  border-radius: 20px;
  height: 48px;
  transition: background-color 0.5s;
}

#footer-form-button > h2{
  font-family: Inter;
  font-size: 16px;
  color: var(--white);
  font-weight: 900;
  width: 85px;
  margin: 0;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}

#footer-form-item > h2{
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  width: 185px;
  margin-left: 20px;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
}

#footer-form-container > h2{
  padding: 0px;
  line-height: 1.5;
}

#cookie-disclaimer{
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: var(--main-color);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1200px 80px 80px 1fr;
  grid-template-rows: 1fr;
}

#cookie-text-container{
  grid-column: 2;
}

#cookie-button-1 > h2{
  background-color: var(--white);
  border-radius: 20px;
  font-size: 15px;
  color: var(--main-color);
  width: 54px;

}

#cookie-button-2 > h2{
  font-size: 15px;
  color: var(--white);

}

#cookie-button-1{
  grid-column: 3;
  height: 37px;
  padding: 11.5px;
  width: 80px;
  align-self: center;
}

#cookie-button-2{
  grid-column: 4;
  height: 37px;
  padding: 11.5px;
  width: 80px;
}

#card-1-animation-container{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  grid-column: 2;
  position: relative;
  top: 130px;
}

#card-1-animation-container > .card-1-corner{
  background-color: var(--main-color);
  position: absolute;
  height: 20px;
  width: 20px;
}

#card-1-animation-container > .card-1-side{
  background-color: var(--black);
  position: absolute;
  height: 20px;
  width: 80px;
}

#card-1-corner-1{
  top: 68px;
  left: 40px;
}

#card-1-corner-2{
  top: 92px;
  left: 40px;
}

#card-1-corner-3{
  top: 116px;
  left: 40px;
}

#card-1-corner-4{
  top: 140px;
  left: 40px;
}

#card-1-side-1{
  top: 68px;
  left: 64px;
}

#card-1-side-2{
  top: 92px;
  left: 64px;
}

#card-1-side-3{
  top: 116px;
  left: 64px;
}

#card-1-side-4{
  top: 140px;
  left: 64px;
}

.card-text-container{
  display:grid;
  grid-template-rows: 1fr 5fr;
  height: 300px;
  padding: 80px;
  align-self: center;
}

.card-text-container > h1{
  grid-row: 1;
  font-size: 36px;
  padding: 10px;
}

#scroll-2{
  top: 680px;
}

#scroll-3{
  top: 1280px;
}

#scroll-4{
  top:1880px;  
}

.scroll a{
  color: var(--main-color);
}

#scroll-wrapper{
  background-color: var(--light-gray);
  width: 1400px;
  grid-column: 2;
  justify-items: center;
  position: relative;
  border-radius: 20px;
  padding-top: 80px;
}

.scroll-container{
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
  height: 2500px;
}

.scroll{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  grid-column: 2;
  position:absolute;
  height: 500px;
  width: 1000px;
  left: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 10px rgba(33, 33, 33, 0.05);   
}


.toggle{
  background-color: var(--black);
  border-radius: 10px;
  width: 40px;
  height: 20px;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.toggle-button{
  position: absolute;
  background-color: var(--main-color);
  height: 14px;
  width: 14px;
  border-radius: 10px;
  top: 3px;
  left: 3px;
}

#hamburger{
  height: 40px;
  width: 40px;
  position: relative;
  display:none;
  margin-right: 20px;
  justify-self: end;
}

.hamburger-line{
  background-color: var(--white);
  width:24px;
  height: 3px;
  position:absolute;
}

#hamburger-line-1{
  top: 9px;
  left: 8px;
}

#hamburger-line-2{
  top: 18px;
  left: 8px;
}

#hamburger-line-3{
  top: 27px;
  left: 8px;
}

.menu-item h3{
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
}

.menu.container{
  grid-column: 3;
  width: 460px;
  justify-self: end;
}

.menu > .menu-item{
  padding: 12px;

  float: right;
  transition: background-color 0.5s;
}

.menu > .menu-item:hover{
  color: var(--main-color);
}

.menu-item-1 h3{
  color: var(--main-color);
  font-weight: 700;

}

.logo{
  grid-column: 2;
  position: relative;
  align-items: center;
  height: 48px;
}

.navigation-bar{
  display: grid;
  grid-template-columns: 1fr 200px 1200px 1fr;
  grid-template-rows: 1fr;
  position:relative;
  width: 100%;
  height: 100px;
  align-items: center;
}

.button > h2{
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  position:relative;
  font-family: Inter;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 900;
  width: 100px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 100px 500px 100px;
  position: relative;
  width: 100%;
  height: 700px;
  }

.hero{
  grid-column: 2;
  grid-row: 2;
  /* justify-items: center;
  justify-content: center; */
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr;
}

.headline-container{
  position:relative;
  grid-column: 1;
  top: 0px;
  left: 160px;
  /* width:100%; */
}

.headline{
  width: 437px;
  height: 207px;
  position: absolute;
  top: 75px;
  left: 75px;
}

h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  color: var(--black);
  margin:0;
  text-align:center;
}

h1 span{
  color: var(--main-color);
}

.button{
  border-color: var(--main-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  width: 210px;
  height: 48px;
  position: absolute;
  top: 340px;
  left: 180px;
  transition: background-color 0.5s;
}

.button:hover{
  background-color: var(--main-color);
}


.button:hover h2{
  color: #fff;
}

.wholecube{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  grid-column: 2;
  position: relative;
  top: 130px;
}

.wholecube > .corner{
  background-color: var(--main-color);
  position: absolute;
  height: 20px;
  width: 20px;
}

.side{
  background-color: var(--black);
  position: absolute;
}

.wholecube > .c1{
  top: 40px;
  left: 40px;
  position: absolute;
}

.c2{
  top: 40px;
  right: 40px;
  position: absolute;

}

.c3{
  bottom: 40px;
  right: 40px;
  position: absolute;

}

.c4{
  bottom: 40px;
  left: 40px;
  position: absolute;

}

.s1{
  height: 20px;
  width: 80px;
  top: 40px;
  left: 60px;
  position: absolute;
}

.s2{
  height: 80px;
  width: 20px;
  top: 60px;
  right: 40px;
  position: absolute;
}

.s3{
  height: 20px;
  width: 80px;
  bottom: 40px;
  left: 60px;
  position: absolute;
}

.s4{
  height: 80px;
  width: 20px;
  top: 60px;
  left: 40px;
  position: absolute;
}

.menu-container{
  float:right;
  padding-right: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
  .navigation-bar{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .logo{
    float:left;
    grid-column: 1;
  }
  .menu{
    grid-column: 2;
    justify-self: none;
    float:right;
  }
}

@media screen and (max-width: 1000px){

  .navigation-bar{
    grid-template-columns: 200px 1fr;
  }

  .logo{
    grid-column: 1;
  }

  .menu{
    display: none;
  }

  #hamburger{
    display:block;
    grid-column: 2;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1px 2fr 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    }
  
  .hero{
      background-color:inherit;
      border-radius: 20px;
      grid-column: 2;
      grid-row: 2;
      justify-items: center;
      justify-content: center;
      padding: 20px;
      display:grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
    }

  h1{
    font-size: 28px;
  }

  .headline{
    width: 200px;
    height: 207px;
    position:absolute;
    left: 30px;
    top: 80px;

  }
  .headline-container{
    position:relative;
    grid-column: 1;
    width:100%;
  }

  .wholecube{
    zoom:0.60;
    top: 20px;
  }

  .button{
    background: var(--main-color);
    border-radius: 20px;
    width: 200px;
    height: 48px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 300px;
    left: 50%;
  }
}

.category-card img{
  padding: 10px;
}

.category-card h2{
  color: var(--black);
}