html {
  background-color: #191919;
  color: #fff;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #0BBC6C;
}


.toggle{
  background-color: #333333;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}


.toggle-button{
  position: absolute;
  background-color: #0BBC6C;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  top: 3px;
  left: 3px;
}


#hamburger{
  height: 40px;
  width: 40px;
  position: relative;
  display:none;
  margin-right: 20px;
  justify-self: end;
}

.hamburger-line{
  background-color: #fff;
  width:24px;
  height: 3px;
  position:absolute;
}

#hamburger-line-1{
  top: 9px;
  left: 8px;
}

#hamburger-line-2{
  top: 18px;
  left: 8px;
}

#hamburger-line-3{
  top: 27px;
  left: 8px;
}

.menu-item h3{
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
}

.menu.container{
  grid-column: 3;
  width: 460px;
  justify-self: end;
}

.menu > .menu-item{
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  font-family: Inter;
  float: right;
  transition: background-color 0.5s;
}

.menu > .menu-item:hover{
  color: #0BBC6C;
}

.logo{
  grid-column: 2;
  position: relative;
  height: 100px;
  width: 200px;
}

.logo > img{
  width: 200px;
  height: 100px;
}

.navigation-bar{
  display: grid;
  grid-template-columns: 1fr 200px 1200px 1fr;
  grid-template-rows: 1fr;
  position:relative;
  width: 100%;
  height: 100px;
  align-items: center;
}

.alldivs-container2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 900px;
}

h2{
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  position:relative;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  width: 142px;
}

.alldivs-container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 100px 500px 1fr;
  position: absolute;
  width: 100%;
  height: 800px;
  top: 100px;
  }

.alldivs{
  background-color: #1b1b1b;
  box-shadow: 0px 20px 40px 40px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.right-side{
  position:relative;
  grid-column: 2;
  width:100%;
}

.t1{
  width: 437px;
  height: 207px;
  position: absolute;
  top: 75px;
  left: 75px;
}

h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  color: #FFF;
  margin:0;
}

h1 span{
  color: #0BBC6C;
}

.button{
  border-color: #0BBC6C;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  width: 210px;
  height: 48px;
  position: absolute;
  top: 340px;
  left: 75px;
  transition: background-color 0.5s;
}

.button:hover{
  background-color: #0BBC6C;
}

.button > h2{
  color: #0BBC6C;
  font-weight: 700;
  width: 150px;
}

.button:hover h2{
  color: #fff;
}

.wholecube{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  /* align-self: center; */
  grid-column: 1;
  position: relative;
  top: 130px;
}

.wholecube > .corner{
  background-color: #0BBC6C;
  position: absolute;
  height: 20px;
  width: 20px;
}

.side{
  background-color: #333333;
  position: absolute;
}

.wholecube > .c1{
  top: 40px;
  left: 40px;
  position: absolute;
}

.c2{
  top: 40px;
  right: 40px;
  position: absolute;

}

.c3{
  bottom: 40px;
  right: 40px;
  position: absolute;

}

.c4{
  bottom: 40px;
  left: 40px;
  position: absolute;

}

.s1{
  height: 20px;
  width: 80px;
  top: 40px;
  left: 60px;
  position: absolute;

}

.s2{
  height: 80px;
  width: 20px;
  top: 60px;
  right: 40px;
  position: absolute;

}

.s3{
  height: 20px;
  width: 80px;
  bottom: 40px;
  left: 60px;
  position: absolute;

}

.s4{
  height: 80px;
  width: 20px;
  top: 60px;
  left: 40px;
  position: absolute;

}

.menu-container{
  float:right;
  padding-right: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
  .navigation-bar{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .logo{
    float:left;
    grid-column: 1;
  }
  .menu{
    grid-column: 2;
    justify-self: none;
    float:right;
  }
}

@media screen and (max-width: 1000px){

  .navigation-bar{
    grid-template-columns: 200px 1fr;
  }

  .logo{
    grid-column: 1;
  }

  .menu{
    display: none;
  }

  #hamburger{
    display:block;
    grid-column: 2;
  }

  .alldivs-container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1px 2fr 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    }
  
  .alldivs{
      background-color:inherit;
      border-radius: 20px;
      grid-column: 2;
      grid-row: 2;
      justify-items: center;
      justify-content: center;
      padding: 20px;
      display:grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
    }

  h1{
    font-size: 28px;
  }

  .t1{
    width: 200px;
    height: 207px;
    position:absolute;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    left: 30px;
    top: 80px;

  }
  .right-side{
    position:relative;
    grid-column: 1;
    width:100%;
  }

  .wholecube{
    zoom:0.60;
    top: 20px;
  }

  .button{
    background: #0BBC6C;
    border-radius: 20px;
    width: 200px;
    height: 48px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 300px;
    left: 50%;
  }
}