:root {
  --main-color: #0BBC6C;
  --main-dark: #132817;
  --black: #333333;
  --light-gray: #f8f8f8;
  --white: #ffffff;
}

body {
  margin: 0;
}

html {
  background-color: var(--white);
  color: var(--black);
}

p{
  font-family: Inter;
  font-weight: 400;
  line-height: 1.7;
  font-size: 18px;
  padding: 20px;
  padding-left:10px;
  margin: 0px;
}

a{
  color: var(--black);
  text-decoration: none;
}

a:hover{
  color: var(--main-color);
}


h2{
  font-weight: 900px;
  color:var(--black);
  margin: 0;
  font-family: Inter;
  padding: 10px;
  font-size: 24px;
}

h2 > span{
  color:var(--main-color);
}

h4{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color:var(--main-color);
  padding: 10px;
  margin: 0px;
}

input[type=email] {
  box-sizing: border-box;
  padding-left: 20px;
  height: 48px;
  width: 500px;
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  background-color: None;
  border: 2px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=text] {
  box-sizing: border-box;
  padding-left: 20px;
  height: 48px;
  width: 500px;
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  background-color: None;
  border: 2px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

textarea{
  box-sizing: border-box;
  padding: 20px;
  height: 273px;
  width: 380px;
  border: 0;
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  background-color: None;
  border: 2px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
}


.contact-section{
  width: 100%;
  height: 1142px;
  display: grid;
  grid-template-rows: 60px 22px 20px 53px 40px 44px 100px 763px;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
  justify-content: center;
}

h5{
  font-family: Inter;
  font-size: 18px;
  color: var(--main-color);
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  width: 200px;
}

h5 > span{
  color: var(--main-color)
}



.is-black{
  color:var(--main-dark)
}

.contact-card-firstname{
  grid-row: 1;
  grid-column: 1;
}

.contact-card-firstname-input{
  grid-row: 3;
  grid-column: 1;
}

.contact-card-firstname-input > input{
  width: 180px;
}

.contact-card-lastname{
  grid-row: 1;
  grid-column: 3;
}

.contact-card-lastname-input{
  grid-row: 3;
  grid-column: 3;
}

.contact-card-lastname-input > input{
  width: 180px;
}

.contact-card-email{
  grid-row: 5;
  grid-column: 1;
}

.contact-card-email-input{
  grid-row: 5;
  grid-column: 1;
}

.contact-card-email-input > input{
  width: 380px;
}

.contact-card-message-input > input{
  width: 380px;
  height: 273px;
}



.contact-section-h5-container{
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-section-h1-container{
  grid-row: 4;
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.contact-section-text-container{
  grid-row: 6;
  grid-column: 2;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-section-text-container > p{
  padding:20px;
}

.contact-section-card-container {
  width: 380px;
  height: 643px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 10px rgba(33, 33, 33, 0.05);   
  grid-column: 2;
  grid-row: 8;
  padding: 60px;
  display:grid;
  grid-template-rows: 80px 40px 80px 40px 305px 40px 48px;
  grid-template-columns: 1fr;
}

#contact-footer{
  position: absolute;
  top: 900px;
  width: 100%;
  z-index: -1;
}

.contact-card-name-container{
  grid-row:1;
  grid-column: 1;
  display: grid;
  grid-template-rows: 22px 10px 48px;
  grid-template-columns: 180px 20px 180px;
}

.contact-card-message-container{
  grid-row: 5;
  grid-column: 1;
  display: grid;
  grid-template-rows: 22px 10px 273px;
  grid-template-columns: 1fr;
}

.contact-card-message{
  grid-row:1;
  grid-column: 1;
}

.contact-card-message-input{
  grid-row:3;
  grid-column: 1;
}

.contact-card-email-container{
  grid-row: 3;
  grid-column: 1; 
  display: grid;
  grid-template-rows: 22px 10px 48px;
  grid-template-columns: 1fr;
}

.contact-card-email{
  grid-row:1;
  grid-column: 1;
}

.contact-card-email-input{
  grid-row:3;
  grid-column: 1;
}

.contact-card-button-container{
  grid-row: 7;
  grid-column: 1;
}

*:focus {outline:none !important}

input[type=email]:focus {
  border-color: var(--main-color);
}

input[type=text]:focus {
  border-color: var(--main-color);
}

input[type=file]:focus {
  border-color: var(--main-color);
  
}

input[type=file] {
  width: 180px;
  height: 48px;

  border: 2px solid #0BBC6C;
  box-sizing: border-box;
  border-radius: 20px;
  
}
textarea:focus{
  border-color: var(--main-color);
}

textarea{
  line-height: 30px;
}

.career-section{
  width: 100%;
  height: 1142px;
  display: grid;
  grid-template-rows: 60px 22px 20px 53px 40px 44px 100px 993px;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
  justify-content: center;
}

.career-section-card-container {
  width: 380px;
  height: 873px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 10px rgba(33, 33, 33, 0.05);   
  grid-column: 2;
  grid-row: 8;
  padding: 60px;
  display:grid;
  grid-template-rows: 80px 40px 80px 40px 80px 40px 80px 40px 305px 40px 48px;
  grid-template-columns: 1fr;
}

.career-card-button-container{
  grid-row: 11;
  grid-column: 1;
}

.career-card-message-container{
  grid-row: 9;
  grid-column: 1;
  display: grid;
  grid-template-rows: 22px 10px 273px;
  grid-template-columns: 1fr;
}

.career-card-profession-container{
  grid-row: 7;
  grid-column: 1;
  display: grid;
  grid-template-rows: 22px 10px 48px;
  grid-template-columns: 1fr;
}


.career-card-cv-container{
  grid-row:5;
  grid-column: 1;
  display: grid;
  grid-template-rows: 22px 10px 48px;
  grid-template-columns: 180px 20px 180px;
}

.career-card-cv-input{
  grid-row: 3;
  grid-column: 1;
}

.career-card-cv-input > input{
  width: 180px;
}

.secondary-button{

  grid-row: 3;
  grid-column: 3;

  width: 180px;
  height: 48px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.secondary-button label {
  display: block;
  position: relative;
  width: 180px;
  height: 48px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  transition: transform .2s ease-out;
  border: 2px solid #0BBC6C;
  box-sizing: border-box;
  border-radius: 20px;
}

.secondary-button label:hover{
  background-color: var(--main-color);
  color: var(--white)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--main-dark);
  text-decoration: none;
  display: block;
  padding: 15px;
  padding-left: 20px
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--light-gray);
  font-weight: 700;

}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.dropdown:hover .dropbtn{
  border: 2px solid var(--main-color);
}
/* Style The Dropdown Button */
.dropbtn {
  padding-left: 20px;
  height: 48px;
  width: 380px;
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  background-color: var(--white);
  border: 2px solid rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  grid-row: 3;
  grid-column: 1;
}



/* input:-webkit-autofill {
  -webkit-text-fill-color: $textColor;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-moz-autofill {
  -moz-text-fill-color: $textColor;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:-o-autofill {
  -o-text-fill-color: $textColor;
  -o-box-shadow: 0 0 0px 1000px white inset;
}

input:-khtml-autofill {
  -khtml-text-fill-color: $textColor;
  -khtml-box-shadow: 0 0 0px 1000px white inset;
} */

.popup{
  position: fixed;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* margin: 0 auto; */

  
  height: 500px;
  width: 1000px;
  background-color: var(--white);
  z-index: 901;
  /* margin:auto auto; */
  border-radius: 20px;
  display: none;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.popup-bg{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 900;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.popup-content{
  width: 500px;
  height: 100%;
  grid-column: 1;
  display:grid;
  grid-template-rows: 87px 88px 20px 62px 40px 48px 20px 48px 87px;

}

.popup-content > h1 {
  grid-row: 2;
  width: 300px;
  text-align: left;
  margin-left: 80px;
  font-size: 36px;
}

.popup-content > p{
  grid-row: 4;
  width: 300px;
  text-align: left;
  margin-left: 80px;
  padding: 0px;
}

.popup-content input{
  grid-row: 6;
  margin-left: 80px;
  width: 300px;
}

.popup-content button{
  grid-row: 8;
  margin-left: 80px;
  width: 300px;
}



.popup-img{
  grid-column: 2;
  height: 100%;
  width: 100%;

  /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */

}


button {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color: var(--main-color);
  border-radius:20px;
  width:100%;
  height: 48px;
  font-family: Inter;
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

#team-container{
  display:grid;
  grid-template-rows: 50px 22px 20px 50px 40px 56px 60px 720px;
  grid-template-columns: 1fr 1000px 1fr;
  width: 100%;
  height: 1018px;

}

#team-section-subheader > p{
  width: 437px;
  text-align: center;
  padding: 0px;
}

#team-cards-container{
  grid-row: 8;
  grid-column: 2;
  position: relative;
  height: 1018px;
  width: 1000px;
  grid-template-columns: 4;
  grid-template-rows: 2;
}

.team-card{
  height: 360px;
  width: 250px;
  background-color: var(--white);
  display: inline-block;
  grid-template-rows: 30px 200px 40px 30px 8px 22px 30px;
  justify-items: center;
}

#team-card-photo{
  background-repeat:no-repeat;
  background-position: center center;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
  /* grid-row: 2; */
}

#team-card-name{
  /* grid-row: 4; */
  text-align: center;
  margin-top: 40px;
}

#team-card-name > h2{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding : 0px;

}

#team-card-title{
  /* grid-row: 6; */
  text-align: center;
  margin-top: 8px;
  margin-bottom: 30px;
}

#team-card-title > p{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0px;
}

#category-cards-container{
  grid-column: 2;
  position: relative;
  height: 360px;
  width: 100%;
}

.category-card{
  display: inline-block;
  height: 280px;
  width: 360px;
  position:absolute;
  background-color: var(--white);
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 47px 133px 40px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.05);
}

#category-card-1{
  left: 0px;
}

#category-card-2{
  left: 480px;
}

#category-card-3{
  left: 960px;
}


#categories{
  display:grid;
  grid-template-columns: 1fr 1400px 1fr;
  position: relative;
  height: 600px;
  align-items: center;
}

/* #hero-bg-container{
  background-image:url(/img/hero_bg.png);
  width: 100%;
  height: 2000px;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: -1;
  top: 200px;
} */

.footer{
  height: 800px;
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 1fr;
}

#footer-img-container{
  background-image:url(../img/footer_bg.png);
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index:-1;
  top: 0px;
}

#footer-form-container{
  grid-column: 2;
  background-color: var(--light-gray);
  position: absolute;
  height: 156px;
  width: 680px;
  z-index:1;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 108px 48px;
  grid-template-columns: 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

#footer-form-item{
  display: inline-flex;
  border-radius: 20px;
  height: 48px;
  width: 500px;
  grid-row: 2;

}

#footer-form-button{
  display: inline-flex;
  width: 160px;
  grid-row: 2;
  height: 48px;
  float: right;
}

#footer-form-button > h2{
  font-family: Inter;
  font-size: 16px;
  color: var(--white);
  font-weight: 900;
  width: 85px;
  margin: 0;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}

#footer-form-item > h2{
  font-family: Inter;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  width: 185px;
  margin-left: 20px;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
}

#footer-form-container > h2{
  padding: 0px;
  line-height: 1.5;
}

#cookie-disclaimer{
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: var(--main-color);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1200px 80px 80px 1fr;
  grid-template-rows: 1fr;
}

#cookie-text-container{
  grid-column: 2;
}

#cookie-button-1 > h2{
  background-color: var(--white);
  border-radius: 20px;
  font-size: 15px;
  color: var(--main-color);
  width: 54px;

}

#cookie-button-2 > h2{
  font-size: 15px;
  color: var(--white);

}

#cookie-button-1{
  grid-column: 3;
  height: 37px;
  padding: 11.5px;
  width: 80px;
  align-self: center;
}

#cookie-button-2{
  grid-column: 4;
  height: 37px;
  padding: 11.5px;
  width: 80px;
}

#card-1-animation-container{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  grid-column: 2;
  position: relative;
  top: 130px;
}

#card-1-animation-container > .card-1-corner{
  background-color: var(--main-color);
  position: absolute;
  height: 20px;
  width: 20px;
}

#card-1-animation-container > .card-1-side{
  background-color: var(--black);
  position: absolute;
  height: 20px;
  width: 80px;
}

#card-1-corner-1{
  top: 68px;
  left: 40px;
}

#card-1-corner-2{
  top: 92px;
  left: 40px;
}

#card-1-corner-3{
  top: 116px;
  left: 40px;
}

#card-1-corner-4{
  top: 140px;
  left: 40px;
}

#card-1-side-1{
  top: 68px;
  left: 64px;
}

#card-1-side-2{
  top: 92px;
  left: 64px;
}

#card-1-side-3{
  top: 116px;
  left: 64px;
}

#card-1-side-4{
  top: 140px;
  left: 64px;
}

#card-3-animation-container{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  grid-column: 2;
  position: relative;
  top: 130px;
}

#square{
  position: absolute;
  width: 120px;
  height: 121px;
  left: 42px;
  top: 40px;
  border: 20px solid var(--black);
  box-sizing: border-box;
}

#radar{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 100px;
  top: 100px;

  background: var(--main-color);
  z-index: -1;
}

#card-4-bg > img{
  border-radius: 20px;
}

.card-text-container{
  display:grid;
  grid-template-rows: 1fr 5fr;
  height: 300px;
  padding: 80px;
  align-self: center;
}

.card-text-container > h1{
  grid-row: 1;
  font-size: 36px;
  padding: 10px;
  text-align:left;
}

#scroll-2{
  top: 680px;
}

#scroll-3{
  top: 1280px;
}

#scroll-4{
  top:1880px;  
}

.scroll a{
  color: var(--main-color);
}

#scroll-wrapper{
  background-color: var(--light-gray);
  width: 1400px;
  grid-column: 2;
  justify-items: center;
  position: relative;
  border-radius: 20px;
  padding-top: 80px;
}

.scroll-container{
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
  height: 2500px;
}

.scroll{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  grid-column: 2;
  position:absolute;
  height: 500px;
  width: 1000px;
  left: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 10px rgba(33, 33, 33, 0.05);   
}

.menu-item h3{
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
}

.menu.container{
  grid-column: 3;
  width: 460px;
  justify-self: end;
}

.menu > .menu-item{
  padding: 12px;

  float: right;
  transition: background-color 0.5s;
}

.menu > .menu-item:hover{
  color: var(--main-color);
}

.menu-item-1 h3{
  color: var(--main-color);
  font-weight: 700;

}

.logo{
  grid-column: 2;
  position: relative;
  align-self: center;
  height: 41px;
  left: 20px;
}

.navigation-bar{
  display: grid;
  grid-template-columns: 1fr 200px 1200px 1fr;
  grid-template-rows: 1fr;
  position:relative;
  width: 100%;
  height: 100px;
  align-items: center;
}

.button > h2{
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  position:relative;
  font-family: Inter;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 900;
  width: 106px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  grid-template-rows: 50px 600px 50px;
  position: relative;
  width: 100%;
  height: 700px;
  }

.hero{
  grid-column: 2;
  grid-row: 2;
  display:grid;
  grid-template-columns: 40px 701px 639px 20px;
  grid-template-rows: 92px 416px 92px;
}

.hero-img{
  background-image:url(../img/hero_illustration.png);
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index:0;
  grid-column: 3;
  grid-row:2;
}

.hero-content{
  grid-column: 2;
  grid-row: 2;
}

.hero-content > h1 {
  font-size: 44px;
  width: 625px;
  padding: 20px;
}

.hero-content > p{
  font-size: 24px;
  width: 574px;
  padding: 20px;
}

.hero-content > a > button{
  width: 200px;
  margin-top: 40px;
  margin-left: 20px;
}

h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 44px;
  color: var(--black);
  margin:0;
  text-align:center;
}

h1 span{
  color: var(--main-color);
}

.button{
  border-color: var(--main-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  width: 210px;
  height: 48px;
  position: absolute;
  top: 340px;
  left: 210px;
  transition: background-color 0.5s;
}

.button:hover{
  background-color: var(--main-color);
}


.button:hover h2{
  color: #fff;
}

.wholecube{
  zoom: 1;
  width: 200px;
  height: 200px;
  justify-self: center;
  grid-column: 2;
  position: relative;
  top: 130px;
}

.wholecube > .corner{
  background-color: var(--main-color);
  position: absolute;
  height: 20px;
  width: 20px;
}

.side{
  background-color: var(--black);
  position: absolute;
}

.wholecube > .c1{
  top: 40px;
  left: 40px;
  position: absolute;
}

.c2{
  top: 40px;
  right: 40px;
  position: absolute;

}

.c3{
  bottom: 40px;
  right: 40px;
  position: absolute;

}

.c4{
  bottom: 40px;
  left: 40px;
  position: absolute;

}

.s1{
  height: 20px;
  width: 80px;
  top: 40px;
  left: 60px;
  position: absolute;
}

.s2{
  height: 80px;
  width: 20px;
  top: 60px;
  right: 40px;
  position: absolute;
}

.s3{
  height: 20px;
  width: 80px;
  bottom: 40px;
  left: 60px;
  position: absolute;
}

.s4{
  height: 80px;
  width: 20px;
  top: 60px;
  left: 40px;
  position: absolute;
}

.menu-container{
  float:right;
  padding-right: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
  .navigation-bar{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .logo{
    float:left;
    grid-column: 1;
  }
  .menu{
    grid-column: 2;
    justify-self: none;
    float:right;
  }
}

@media screen and (max-width: 1000px){}

.category-card img{
  padding: 10px;
}

.category-card h2{
  color: var(--black);
}