{% extends 'layout.html' %}

{% block body %}

<div class="career-section">
    <div class="contact-section-h4-container">
        <h4>EXCITED?</h4>
    </div>
    <div class="contact-section-h1-container">
        <h1>Join Neustrukt</h1>
    </div>
    <div class="contact-section-text-container">
        <p2>If you share the same passion towards creating an open source building system, let us hear from you.</p2>
    </div>
    
    <form action="/careers" method="POST" class="career-section-card-container" enctype="multipart/form-data" id="recaptcha-form">
        <div class="contact-card-name-container">
            <div class="contact-card-firstname">
                <h4 class="is-black">FIRST NAME<span>*</span></h4>
            </div>
            <div class="contact-card-firstname-input">
                <input type="text" name="firstname" id="firstname" placeholder="" >
            </div>
            <div class="contact-card-lastname">
                <h4 class="is-black">LAST NAME<span>*</span></h4>
            </div>
            <div class="contact-card-lastname-input">
                <input type="text" name="lastname" id="lastname" placeholder="" >
            </div>
        </div>
        <div class="contact-card-email-container">
            <div class="contact-card-email">
                <h4 class="is-black">EMAIL<span>*</span></h4>
            </div>
            <div class="contact-card-email-input">
                <input type="email" name="email" id="email" placeholder="" >
            </div>
        </div>
        <div class="career-card-profession-container">
            <div class="contact-card-email">
                <h4 class="is-black">PROFESSION<span>*</span></h4>
            </div>
            <div class="dropdown">
                <input name="profession" style="display:none" id="profession"> 
                    <!-- <option value="Architect">Architect</option>
                    <option value='Interior Architect'>Interior Architect</option>
                    <option value="Industrial Designer">Industrial Designer</option>
                    <option value="Graphic Designer">Graphic Designer</option>
                    <option value="Digital Marketer">Digital Marketer</option>
                    <option value="Content Producer">Content Producer</option>
                    <option value="Structural Engineer">Structural Engineer</option>
                    <option value="Mechanical Engineer">Mechanical Engineer</option>
                    <option value="Supply Chain Specialist">Supply Chain Specialist</option> -->
                </input>
                <button disabled class="dropbtn">Choose profession</button>
                <div class="dropdown-content">
                  {% for job in jobs %}
                  <a class="dropdown-item">{{ job }}</a>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="career-card-cv-container">
            <div class="contact-card-email">
                <h4 class="is-black">CV/PORTFOLIO<span>*</span></h4>
            </div>
            <div class="career-card-cv-input">
                <input type="hidden" id="file-url" name="file-url" class="file-url" value="">
                <input class="file-name" type="text" name="cv" id="cv" placeholder="No file selected." disabled>
            </div>
            <div class="secondary-button">
                <input type="file" id="file_name" class="file">
                <label for="file_name">Select file</label>
            </div>
        </div>
        <div class="career-card-message-container">
            <div class="contact-card-message">
                <h4 class="is-black">MESSAGE<span>*</span></h4>
            </div>
            <div class="contact-card-message-input">
                <textarea name="message" id="message" rows="10" cols="25" placeholder="Please briefly tell about why you’d like to work with us."></textarea>
            </div>
        </div>
        <div class="career-card-button-container">
            <button class="g-recaptcha" 
                    data-sitekey="{{ site_key }}" 
                    data-callback='onSubmit' 
                    data-action='submit'>Send application</button>
        </div>
    </form>    
</div>

<div class="footer" id="contact-footer">
    <!-- <div id="footer-img-container"></div> -->
</div>

<script>

    $('a.dropdown-item').click(function() {
        const val = $(this).html();
        $("button.dropbtn").html(val);
        $("input#profession").attr("value", val);
    });
    
</script>
<script>
    const store_button = document.getElementById('store-button');

    const store_popup = document.getElementById("store-popup");
    const popup_bg = document.getElementById("popup-bg");   

    store_button.addEventListener('click', () => {
      store_popup.style.display = 'grid';
      popup_bg.style.display = 'flex';
    });

    popup_bg.addEventListener('click', () => {
      
        store_popup.style.display = "none";
        popup_bg.style.display = "none";
      
    })
  </script>

<!-- <script>
    (function() {
  document.getElementById("file_input").onchange = function(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
      return alert("No file selected.");
    }
    getSignedRequest(file);
  };
})();
</script> -->

{% endblock %}