{% extends 'layout.html' %}

{% block body %}

  <div class="hero-container">
    <div class="hero">
      <div class="hero-img"></div>
      <div class="hero-content">
        <h1>Design <span>your future</span> on the go.</h1>
        <p>Get ready for the new era in modular architecture. Whether you're looking to buy a new home, extend your current space or design for a client, 
           Neustrukt's building system has the tools you need to create comfortable environments.</p>
        <a href="#footer-form-container" class="scrollLink"><button type="button" action="/mission">Join newsletter</button></a>
      </div>
    </div>
  </div>

  <div class="scroll-container">
    <div id="scroll-wrapper">
      <div class="scroll" id="scroll-1">
        <div class="card-text-container">
          <h1>Build <span>modular structures</span></h1>
          <p>Every piece is a part of the system. Leveraging our digital design system <a href="./acm.html">ACM®</a>, we insist upon 
             a modular approach between all layers of the construction process. This brings us absolute detachability for 
             extended reuse, adaptability for embracing uncertainty, and scalability to adopt all lifestyle changes.
          </p>
        </div>
        <div id="card-1-animation-container">
          <div id="card-1-corner-1" class="card-1-corner"></div>
          <div id="card-1-corner-2" class="card-1-corner"></div>
          <div id="card-1-corner-3" class="card-1-corner"></div>
          <div id="card-1-corner-4" class="card-1-corner"></div>
          <div id="card-1-side-1" class="card-1-side"></div>
          <div id="card-1-side-2" class="card-1-side"></div>
          <div id="card-1-side-3" class="card-1-side"></div>
          <div id="card-1-side-4" class="card-1-side"></div>
        </div>
      </div>
      <div class="scroll" id="scroll-2">
        <div class="card-text-container">
          <h1>Join <span>circular economy</span></h1>
          <p>Earth and it's materials should belong to all of us. We meticulously design every component to be maintained, 
             reused, or processed individually. <br><br>Neustrukt houses will be taken care of diligently throughout it's lifetime 
             giving both the owner or the renter peace of mind.
          </p>
        </div>
        <div class="wholecube">
          <div class="c1 corner"></div>
          <div class="c2 corner"></div>
          <div class="c3 corner"></div>
          <div class="c4 corner"></div>
          <div class="s1 side"></div>
          <div class="s2 side"></div>
          <div class="s3 side"></div>
          <div class="s4 side"></div>
        </div>
      </div>
      <div class="scroll" id="scroll-3">
        <div class="card-text-container">
          <h1>Create <span>smart spaces</span></h1>
          <p>We believe smart home features should be about longevity and health, or in other words serving towards the inhabitants comfort. <br><br>Neustrukt houses 
             will constantly observe and log data like air quality to provide unprecedented life standards.
          </p>
        </div>
        <div id="card-3-animation-container">
          <div id="square"></div>
          <div id="radar"></div>
        </div>
      </div>
      <div class="scroll" id="scroll-4">
        <div class="card-text-container">
          <h1>Design <span>your future</span></h1>
          <p>We need radical changes on our view of construction and housing. We need more collaborations, regulations and 
             invidual effort for adoption. <br><br>Join <a href="https://discord.gg/SWF9rd3uVC">Neustrukt Discord Channel</a> and connect <br>with like-minded people now.
          </p>
        </div>
        <div id="card-4-bg">
          <img src="{{ url_for('static', filename='img/header_bg_right.png') }}">
        </div>
      </div>
    </div>
  </div>
  <div class="tab" id="categories">
    <div id="category-cards-container">
      <div class="category-card" id="category-card-1">
        <div id="card-img-container-1"><img src="{{ url_for('static', filename='img/category_1.png') }}"></div>
        <div id="card-headline-container-1"><h2>Products</h2></div>
        <div id="card-paragraph-container-1">
          <p>Neustrukt offers eco-friendly product line blended with versatile design and futuristic components.</p>
        </div>
        <div id="card-link-container-1"><h4>Visit store</h4></div>
      </div>
      <div class="category-card" id="category-card-2">
        <div id="card-img-container-2"><img src="{{ url_for('static', filename='img/category_2.png') }}"></div>
        <div id="card-headline-container-2"><h2>Designers</h2></div>
        <div id="card-paragraph-container-2">
          <p>Neustrukt's flexible building system is your new empty canvas to bring out your best work.</p>
        </div>
        <div id="card-link-container-2"><h4>Join Neulab</h4></div>
      </div>
      <div class="category-card" id="category-card-3">
        <div id="card-img-container-3"><img src="{{ url_for('static', filename='img/category_3.png') }}"></div>
        <div id="card-headline-container-3"><h2>Developers</h2></div>
        <div id="card-paragraph-container-3">
          <p>If you are a developer and want to transform your process to the next level with <a href="acm.html">ACM®.</a></p>
        </div>
        <div id="card-link-container-3"><h4>Invest with us</h4></div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div id="footer-form-container">
      <h2>This is just the beginning. Don't miss out on our future updates. Stay <span>in the loop</span>.</h2>
      <form action="/submitted" method="POST">
        <div id="footer-form-item">
          <input type="email" name="email" id="email" placeholder="Please enter your email" required="required" />
        </div>
        <div id="footer-form-button">
          <button type="submit">Subscribe</button>
        </div>
      </form>
    </div>
    <div id="footer-img-container"></div>
  </div>

{% endblock %}