<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Architecture for the New Era</title>
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="{{ url_for('static', filename='ornaments/site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='ornaments/icon.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='ornaments/favicon.ico') }}" type="image/*" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900" type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/TextPlugin.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}" defer> </script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer> </script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script>
    function onSubmit(token) {
      document.getElementById("recaptcha-form").submit();
    }
  </script>

  <div class="popup-bg" id="popup-bg"></div>
    <div class="popup" id="store-popup">
      <form action="/submitted" method="POST" id="recaptcha-form">
        <div class="popup-content">
          <h1>Store is opening soon.</h1>
          <p>Be first one to know when our online store is open.</p>
          <input type="hidden" id="popup-type" name="popup-type" value="store">
          <input type="email" name="email" id="email" placeholder="Email" required="required" />
          <button class="g-recaptcha" 
                  data-sitekey="{{ site_key }}" 
                  data-callback='onSubmit' 
                  data-action='submit'>Notify me</button>  
        </div>
      </form>
      <div class="popup-img" style='background: url("https://neustrukt-applications.s3.us-east-2.amazonaws.com/popup_images/popup-store.png") no-repeat center center;'></div>
    </div>
    <div class="popup" id="designer-popup">
      <form action="/submitted" method="POST" id="recaptcha-form">
        <div class="popup-content">
          <h1>Design with future in mind.</h1>
          <p>Be first one to know when NeuLab platform becomes online.</p>
          <input type="hidden" id="popup-type" name="popup-type" value="designer">
          <input type="email" name="email" id="email" placeholder="Email" required="required" />
          <button class="g-recaptcha" 
                  data-sitekey="{{ site_key }}" 
                  data-callback='onSubmit' 
                  data-action='submit'>Notify me</button>
        </div>
      </form>
      <div class="popup-img" style='background: url("https://neustrukt-applications.s3.us-east-2.amazonaws.com/popup_images/popup-designer.png") no-repeat center center;'></div>
    </div>
    <div class="popup" id="developer-popup">
      <form action="/submitted" method="POST" id="recaptcha-form">
        <div class="popup-content">
          <h1>Let's develop together.</h1>
          <p>Leverage your projects with precisely manufactured modules.</p>
          <input type="hidden" id="popup-type" name="popup-type" value="developer">
          <input type="email" name="email" id="email" placeholder="Email" required="required" />
          <button class="g-recaptcha" 
                  data-sitekey="{{ site_key }}" 
                  data-callback='onSubmit' 
                  data-action='submit'>Notify me</button>
        </div>
      </form>
      <div class="popup-img" style='background: url("https://neustrukt-applications.s3.us-east-2.amazonaws.com/popup_images/popup-developer.png") no-repeat center center;'></div>
    </div>

  <div class="navigation-bar">
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/neustrukt-logo-1x.png') }}" >
        </a>
    </div>
    <div class="hamburger-button">
      <img src="{{ url_for('static', filename='img/icons/hamburger.png') }}">
    </div>
    <div class="menu-container">
      <div class="menu">
        <div class="menu-item menu-item-1" id="store-button" style="cursor: pointer">
          <h5>Store</h5>
        </div>
        <div class="menu-item menu-item-2">
          <a href="{{ url_for('contact') }}"><h5>Contact</h5></a>
        </div>
        <div class="menu-item menu-item-3">
          <a href="{{ url_for('careers') }}"><h5>Careers</h5></a>
        </div>
        <div class="menu-item menu-item-4">
          <a target="_blank" href="https://neustrukt.medium.com/"><h5>Blog</h5></a>
        </div>
        <div class="menu-item menu-item-5">
          <a href="{{ url_for('team') }}"><h5>Team</h5></a>
        </div>
        <div class="menu-item menu-item-6" >
          <a href="{{ url_for('index') }}"><h5>Home</h5></a>
        </div>
      </div>
    </div>
  </div>

  {% block body %}

  {% endblock %}



  <!-- <div id="hero-bg-container"></div> -->
  <!-- <div id="cookie-disclaimer">
    <div id="cookie-text-container"></div>
    <div id="cookie-button-1"><h2>Accept</h2></div>
    <div id="cookie-button-2"><h2>Decline</h2></div>
  </div> -->

  <!-- <script src="js/vendor/three.js"></script>
  <script type="module" src="js/vendor/OrbitControls.js"></script>
  <script type="module" src="js/vendor/GLTFLoader.js"></script>
  <script type="module" src="js/3dmodel.js"></script> -->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->

  <div class="divider"></div>
  <div id="footer-container-wrapper">
    <div id="footer-container">
      <div id="footer-left">
        <h4>Sign up for our newsletter</h4>
        <div id="footer-input">
          <input type="email">
          <img src="{{ url_for('static', filename='img/icons/circle_chevron_right.png') }}">
        </div>
        <h4 id="footer-social-title">Follow on social media</h4>
        <div id="footer-social-icons">
          <img src="{{ url_for('static', filename='img/icons/instagram.png') }}">
          <img src="{{ url_for('static', filename='img/icons/discord.png') }}">
          <img src="{{ url_for('static', filename='img/icons/youtube.png') }}">
          <img src="{{ url_for('static', filename='img/icons/linkedin.png') }}">
          <img src="{{ url_for('static', filename='img/icons/dribbble.png') }}">
        </div>
        <p3 id="footer-copyright">© 2021 Neustrukt</p3>
      </div>
      <div id="footer-center">
        <h4>Sitemap</h4>
        <p3 style="margin-top: 12px;">Mission</p3>
        <p3 style="margin-top: 8px;">Team</p3>
        <p3 style="margin-top: 8px;">Blog</p3>
        <p3 style="margin-top: 8px;">Careers</p3>
        <p3 style="margin-top: 8px;">Contact</p3>
        <p3 style="margin-top: 8px;">Store</p3>
        <p3 style="margin-top: 8px;">Metaverse</p3>
      </div>
      <div id="footer-right">
        <h4>Headquarters</h4>
        <p3 style="margin-top: 12px;">Sirinevler Mah. Adnan Kahveci Bulvari, No:206, Haydar Akın Is Mrk-1 No:25 Kat:6 PK: 34510 Bahcelievler / Istanbul / Turkey</p3>
        <h4 style="margin-top: 40px;">Workshop</h4>
        <p3 style="margin-top: 12px;">Turkgucu Mahallesi OSB No 4, Corlu - Turkey</p3>
        <h4 style="margin-top: 40px;">Showroom</h4>
        <p3 style="margin-top: 12px;">Hermannstal 5, 30926 Seelze, Germany</p3>
      </div>
    </div>
  </div>

</body>

</html>
