<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Architecture for the New Era</title>
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="{{ url_for('static', filename='ornaments/site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='ornaments/icon.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='ornaments/favicon.ico') }}" type="image/*" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,700,900" type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/TextPlugin.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}" defer> </script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer> </script>

  <div class="popup-bg" id="popup-bg"></div>
    <div class="popup" id="popup">
      <div class="popup-content">
        <h1>Store is opening soon.</h1>
        <p>Be first one to know when our online store is open.</p>
        <input type="email" name="email" id="email" placeholder="Email" required="required" />
        <button type="submit">Notify me</button>
      </div>
      <div class="popup-img"></div>
    </div>
    <div class="popup-bg" id="popup-bg"></div>
    <div class="popup" id="popup">
      <div class="popup-content">
        <h1>Store is opening soon.</h1>
        <p>Be first one to know when our online store is open.</p>
        <input type="email" name="email" id="email" placeholder="Email" required="required" />
        <button type="submit">Notify me</button>
      </div>
      <div class="popup-img"></div>
    </div>
    <div class="popup-bg" id="popup-bg"></div>
    <div class="popup" id="popup">
      <div class="popup-content">
        <h1>Store is opening soon.</h1>
        <p>Be first one to know when our online store is open.</p>
        <input type="email" name="email" id="email" placeholder="Email" required="required" />
        <button type="submit">Notify me</button>
      </div>
      <div class="popup-img"></div>
    </div>
  

  <div class="navigation-bar">
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/neulogo.png') }}" >
        </a>
    </div>
    <div class="menu-container">
      <div class="menu">
        <div class="menu-item menu-item-1" id="store-button" style="cursor: pointer">
          <!-- <a href="{{ url_for('store') }}"><h3>Store</h3></a> -->
          <h3 >Store</h3>
        </div>
        <div class="menu-item menu-item-2">
          <a href="{{ url_for('contact') }}"><h3>Contact</h3></a>
        </div>
        <div class="menu-item menu-item-3">
          <a href="{{ url_for('careers') }}"><h3>Careers</h3></a>
        </div>
        <div class="menu-item menu-item-4">
          <a href="https://neustrukt.medium.com/"><h3>Blog</h3></a>
        </div>
        <div class="menu-item menu-item-5">
          <a href="{{ url_for('team') }}"><h3>Team</h3></a>
        </div>
        <div class="menu-item menu-item-6" >
          <a href="{{ url_for('mission') }}"><h3>Mission</h3></a>
        </div>
      </div>
    </div>
  </div>

  {% block body %}

  {% endblock %}



  <!-- <div id="hero-bg-container"></div> -->
  <!-- <div id="cookie-disclaimer">
    <div id="cookie-text-container"></div>
    <div id="cookie-button-1"><h2>Accept</h2></div>
    <div id="cookie-button-2"><h2>Decline</h2></div>
  </div> -->

  <!-- <script src="js/vendor/three.js"></script>
  <script type="module" src="js/vendor/OrbitControls.js"></script>
  <script type="module" src="js/vendor/GLTFLoader.js"></script>
  <script type="module" src="js/3dmodel.js"></script> -->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->

  <script>
    $(document).ready(function() {
        $("a.scrollLink").click(function(event) {
            event.preventDefault();
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top -100
              }, 1500);
          });
      });
  </script>
    <script>
      // window.onload = function(){
      //    var popup = document.getElementById('popup');
      //    var popup_bg = document.getElementById('popup-bg');
      //    document.onclick = function(e){
      //       if(e.target.id == 'popup_bg'){
      //          popup_bg.style.display = 'none';
      //          popup.style.display = 'none';
      //       }
      //       // if(e.target.id !== 'popup'){
      //       //    popup_bg.style.display = 'none';
      //       //    popup.style.display = 'none';
      //       // }
      //    };
      // };




  //     const popup = document.getElementById("popup");
  //     const popup_bg = document.getElementById("popup-bg");
  //     const store_button = document.getElementById("store-button");
  
  //     popup_bg.onclick = function () {
  //     if (popup.style.display !== "none") {
  //       popup.style.display = "none";
  //       popup_bg.style.display= "none";
  //     }

  //     store_button.onclick = function () {
  //       popup.style.display = "grid";
  //       popup_bg.style.display= "flex";}
      
  // };
    const store_button = document.getElementById('store-button');
    const popup = document.getElementById("popup");
    const popup_bg = document.getElementById("popup-bg");   

    store_button.addEventListener('click', () => {
      popup.style.display = 'grid';
      popup_bg.style.display = 'flex';
    });

    popup_bg.addEventListener('click', () => {
      if (popup.style.display == "grid"){
        popup.style.display = "none";
        popup_bg.style.display = "none";
      }
    })
        $(function() {
          $('#store-button').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/popup',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

   </script>

</body>

</html>
