{% extends 'layout.html' %}

{% block body %}
  <div id="team-container">
      <h4 class="is-primary">WHO'S MAKING THIS HAPPEN?</h4>
      <h1 style="margin-top: 20px;">Neustrukt Team</h1>
      <p2 style="margin-top: 40px;">A group of people knew something was wrong and committed to do it properly. Meet the missionaries.</p2>
      
    <div class="card-container-wrapper">
      <div class="card-container">
        <div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_batu.png') }}" align=middle>
          <p2 id="member-name">Batu Dal</p2>
          <h4 id="member-title">Project Sponsor</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_ege.png') }}" align=middle>
          <p2 id="member-name">Ege Çavuşoğlu</p2>
          <h4 id="member-title">Manager</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_melissa.png') }}" align=middle>
          <p2 id="member-name">Özüm Melissa Çetin</p2>
          <h4 id="member-title">Architect</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_mert.png') }}" align=middle>
          <p2 id="member-name">Mert Sayat</p2>
          <h4 id="member-title">Architect</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_baris.png') }}" align=middle>
          <p2 id="member-name">Barış Aytimur</p2>
          <h4 id="member-title">Civil Engineer</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_setenay.png') }}" align=middle>
          <p2 id="member-name">Setenay Yarıcı</p2>
          <h4 id="member-title">Industrial Designer</h4>
        </div><div class="card-item">
          <img src="{{ url_for('static', filename='img/photos/photo_merve.png') }}" align=middle>
          <p2 id="member-name">Merve Felek</p2>
          <h4 id="member-title">Architect</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer" id="contact-footer">
    <div id="footer-img-container"></div>
  </div> -->
  <script>
    const store_button = document.getElementById('store-button');

    const store_popup = document.getElementById("store-popup");
    const popup_bg = document.getElementById("popup-bg");   

    store_button.addEventListener('click', () => {
      store_popup.style.display = 'grid';
      popup_bg.style.display = 'flex';
    });

    popup_bg.addEventListener('click', () => {
      
        store_popup.style.display = "none";
        popup_bg.style.display = "none";
      
    })
  </script>

{% endblock %}