{% extends 'layout.html' %}

{% block body %}
  <div id="team-container">
    <div id="team-cards-container">
      <div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_batu.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Batu Dal</h2></div>
        <div id="team-card-title"><p>Project Sponsor</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_ege.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Ege Çavuşoğlu</h2></div>
        <div id="team-card-title"><p>Manager</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_melissa.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Özüm Melissa Çetin</h2></div>
        <div id="team-card-title"><p>Architect</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_mert.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Mert Sayat</h2></div>
        <div id="team-card-title"><p>Architect</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_baris.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Barış Aytimur</h2></div>
        <div id="team-card-title"><p>Civil Engineer</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_setenay.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Setenay Yarıcı</h2></div>
        <div id="team-card-title"><p>Industrial Designer</p></div>
      </div><div class="team-card">
        <div id="team-card-photo"><img src="{{ url_for('static', filename='img/photos/photo_merve.png') }}" align=middle></div>
        <div id="team-card-name"><h2>Merve Felek</h2></div>
        <div id="team-card-title"><p>Architect</p></div>
      </div>
      
    </div>
  </div>

{% endblock %}