{% extends 'layout.html' %}

{% block body %}

<div class="contact-section">
    <div class="contact-section-h5-container">
        <h5>TAKE CARE!</h5>
    </div>
    <div class="contact-section-h1-container">
        <h1>Unsubscribed 😥</h1>
    </div>
    <div class="contact-section-text-container">
        <p>Please let us know if you have any specific reason to unsubscribe. We’re here to help.</p>
    </div>
    
    <form action="/contact" method="POST" class="contact-section-card-container">
        <div class="contact-card-name-container">
            <div class="contact-card-firstname">
                <h5 class="is-black">FIRST NAME<span>*</span></h5>
            </div>
            <div class="contact-card-firstname-input">
                <input type="text" name="firstname" id="firstname" placeholder="" >
            </div>
            <div class="contact-card-lastname">
                <h5 class="is-black">LAST NAME<span>*</span></h5>
            </div>
            <div class="contact-card-lastname-input">
                <input type="text" name="lastname" id="lastname" placeholder="" >
            </div>
        </div>
        <div class="contact-card-email-container">
            <div class="contact-card-email">
                <h5 class="is-black">EMAIL<span>*</span></h5>
            </div>
            <div class="contact-card-email-input">
                <input type="email" name="email" id="email" placeholder="" >
            </div>
        </div>
        <div class="contact-card-message-container">
            <div class="contact-card-message">
                <h5 class="is-black">MESSAGE<span>*</span></h5>
            </div>
            <div class="contact-card-message-input">
                <textarea name="message" id="message" rows="10" cols="25"></textarea>
            </div>
        </div>
        <div class="contact-card-button-container">
            <button type="submit">Send Message</button>
        </div>
    </form>    
</div>

<div class="footer" id="contact-footer">
    <div id="footer-img-container"></div>
</div>
<script>
    const store_button = document.getElementById('store-button');

    const store_popup = document.getElementById("store-popup");
    const popup_bg = document.getElementById("popup-bg");   

    store_button.addEventListener('click', () => {
      store_popup.style.display = 'grid';
      popup_bg.style.display = 'flex';
    });

    popup_bg.addEventListener('click', () => {
      
        store_popup.style.display = "none";
        popup_bg.style.display = "none";
      
    })
  </script>

{% endblock %}